[Unit]
Description=wheel-filter: remove ticks fantasma da roda do mouse (Logitech G703)
StartLimitIntervalSec=0

[Service]
ExecStart=@PREFIX@/bin/wheel-filter -d G703
StateDirectory=wheel-filter
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
